body{
    font-family: 'Noto Sans', sans-serif;
}


img {
    display: block;
    max-width: 100%;
    border: 1px solid #000000;
    box-shadow: 10px 5px 5px rgba(3, 3, 3, 0.559);
}


.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.breed-select {
    max-width: 500px;
    margin: auto;
}

.loader  {
  text-align: center;
 font-size: 24px;
}
 
.cat-info {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #929392b8;
    border: 2px solid #000000;
}

.box{
    display: block;
    width: 400px;
}
